<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"></head>

<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container mt-5">
    <h2 class="text-center text-white">Подробна информация за книгата</h2>

    <div th:object="${book}" class="row mt-3">
        <!-- Book Image and Details -->
        <div class="col-md-6">
            <div class="card">
                <img th:src="*{imageUrl}" class="card-img-top" alt="Book Image">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" th:text="*{title}"></h3>
                    <ul class="list-group list-group-flush">
                        <!-- Book Details -->
                        <li class="list-group-item"><span>• Автор:</span> <span th:text="*{author}"></span></li>
                        <li class="list-group-item"><span>• Цена:</span> <span th:text="*{price}"></span></li>
                        <li class="list-group-item"><span>• Година:</span> <span th:text="*{year}"></span></li>
                        <li class="list-group-item"><span>• Категория:</span> <span
                                th:text="*{category.getDisplayName()}">Category</span></li>
                        <li class="list-group-item"><span>• Състояние:</span> <span
                                th:text="*{bookCondition.getDisplayName()}">Condition</span></li>
                        <li class="list-group-item"><span>• Допълнителна информация:</span> <span
                                th:text="*{additionalInfo}">add Info</span></li>
                        <li class="list-group-item"><span>• Наличност:</span> <span
                                th:text="${book.isAvailable} ? 'В наличност' : 'Няма в наличност'">isAvailable</span>
                        </li>
                    </ul>
                </div>
                <div class="card-footer text-center d-flex justify-content-between">
                    <form sec:authorize="hasRole('ADMIN')" th:method="POST"
                          th:action="@{/books/{bookUUID}(bookUUID=*{uuid})}">
                        <!-- Show "Деактивирай" button if book is available -->
                        <input th:if="${book.isAvailable}" type="submit" name="action" value="Деактивирай"
                               class="btn btn-danger"/>
                        <!-- Show "Активирай" button if book is not available -->
                        <input th:unless="${book.isAvailable}" type="submit" name="action" value="Активирай"
                               class="btn btn-success"/>
                    </form>
                    <form sec:authorize="hasRole('ADMIN')" th:method="GET"
                          th:action="@{/books/{bookUUID}/edit(bookUUID=*{uuid})}">
                        <input type="submit" value="Промени" class="btn btn-primary"/>
                    </form>

                    <form th:action="@{/add-to-cart}" th:method="POST" onsubmit="return showNotification()">
                        <input type="hidden" name="uuid" th:value="${book.uuid}"/>
                        <button type="submit" class="btn btn-success">Добави в количката</button>
                    </form>

                    <script th:inline="javascript">
                        function showNotification() {
                        alert('Книгата беше успешно добавена в количката!');
                        return true;}


                    </script>
                </div>
            </div>
        </div>
    </div>

    <!-- Related Items Section -->

    <!-- Display up to 9 related books in a grid -->

    <div>
        <h3 class="text-center text-white mb-3 mt-3">Други книги от същата категория</h3>

        <!-- Display up to 9 related books in a grid -->
        <div class="books row mx-auto d-flex flex-row justify-content-center">
            <!-- Iterate over related books and display them in the grid -->
            <div th:each="relatedBook, iterStat : ${relatedBooks}"
                 class="book-container col-sm-6 col-md-4 col-lg-3 m-1 p-3">
                <a th:href="@{/books/{bookUUID}(bookUUID=*{relatedBook.uuid})}">
                    <img class="related-book-image" th:src="*{relatedBook.imageUrl}" alt="no-image.jpg">
                </a>
                <div class="card-body">
                    <div class="tooltip-container">
                        <div class="book-title" style="color: #555" th:text="*{relatedBook.title}">
                            <!-- //TODO tooltip doesn't work -->
                            <span class="tooltip" th:text="*{title}">Заглавие</span>
                        </div>
                    </div>
                    <div class="font-weight-light" style="font-size:12px; color: #555" th:text="*{relatedBook.author}">
                        Автор
                    </div>
                    <!-- Add other details as needed -->
                </div>
                <form th:action="@{/add-to-cart}" th:method="POST" onsubmit="return showNotification()">
                    <input type="hidden" name="uuid" th:value="${relatedBook.uuid}"/>
                    <button type="submit" class="btn btn-success btn-sm mt-2">Добави в количката</button>
                </form>
            </div>
        </div>
    </div>
</div>


</body>

</html>
