<div
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <nav class="navbar navbar-expand-lg  fixed-top navbar-dark" style="background-color: #555">
        <a class="navbar-brand" href="/"><img alt="logo" src="/images/logo.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" href="/books/all">Всички книги</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/books/all">Направи запитване</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Контакти</a>
                </li>

                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="/" id="adminDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Админ
                    </a>
                    <div class="dropdown-menu" aria-labelledby="adminDropdown">
                        <a class="dropdown-item" href="/books/add">Добави книга</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/books-unavailable">Покажи неналичните книги</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/">Други</a>
                    </div>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="profileDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i sec:authorize="!isAuthenticated()" class="fa-regular fa-user"></i>
                        <i sec:authorize="isAuthenticated()" class="fa-solid fa-user-check"></i>
                        Моят Профил
                    </a>
                    <div class="dropdown-menu" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" sec:authorize="!isAuthenticated()" href="/users/login">Вход
                            <div class="dropdown-divider"></div>
                        </a>
                        <a class="dropdown-item" sec:authorize="!isAuthenticated()" href="/users/register">Регистрация
                            <div class="dropdown-divider"></div>
                        </a>
                        <a class="dropdown-item" sec:authorize="isAuthenticated()" href="/">Промени профил
                            <div class="dropdown-divider"></div>
                        </a>
                        <a class="dropdown-item" sec:authorize="isAuthenticated()" href="/">Моите поръчки
                            <div class="dropdown-divider"></div>
                        </a>
                        <a class="dropdown-item" sec:authorize="isAuthenticated()">
                           <form th:method="post"
                           th:action="@{/users/logout}">
                            <input type="submit" value="Изход"/>
                           </form>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">
                        <i class="fa-solid fa-cart-shopping"></i>Количка
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>