<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container-fluid">
  <h5 class="text-center text-white mt-5">Страницата, която се опитвате да достъпите не съществува!</h5>
  <br/>
  <center>
    <a th:href="@{/}">Върни се обратно на заглавната страница...</a>
  </center>

</div>

<div>
  <footer> </footer>
</div>

</body>
</html>
