<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container-fluid">
  <h5 class="text-center text-white mt-5">Страницата, която се опитвате да достъпите не съществува!</h5>
  <br/>
  <center>
    <div>
      <img th:src="@{/images/404-error.png}" alt="Грешка 404" class="img-fluid error-image" style="max-width: 700px;">
    </div>
    <button onclick="window.location.href='/'" class="btn btn-primary  mt-3">Обратно към заглавна страница</button>
  </center>

</div>

<div>
  <footer> </footer>
</div>

</body>
</html>