<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container-fluid">
  <h5 class="text-center text-white mt-5">Възникна грешка!</h5>
  <h5 class="text-center text-white mt-5">Извиняваме се за неудобството, работим за оправяне на проблема</h5>
  <img th:src="@{/images/500-error.jpg}" alt="Грешка!" class="center">
</div>

<div>
  <footer> </footer>
</div>

</body>
</html>
