@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet");
body {
     background-image: url('/images/background.jpg');
     background-image: opacity: .2;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: rgba(255, 255, 255, 0.5);
     font-family: 'PT Sans', sans-serif;
     display: flex;
     align items: center;
     min-height: 100vh;

 }

.navbar .logo {
     max-height: 50px;
     padding-right: 100px;
}

.container, .container-fluid {
    padding-top: 90px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 8px;
    border-color: white;


}

.cart-container {
    display: flex;
    flex-direction: column;

        justify-content: center; /* Center items vertically */
    margin: auto;
    margin-top: 105px;
    width: 60%;
    background-color: #f8f9fa; /* Light gray background color */
    padding: 20px;
    border-radius: 10px;
    color: #000000; /* Black text color */
        margin-bottom: 100px; /* Add some margin at the bottom */
}

.table {
    color: white;
    width: 100%;
    background-color: #ffffff; /* White background color */
    border: 1px solid #dee2e6; /* Gray border */
    border-radius: 5px;
}

.book-container {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure the container takes full height */
}

.table th, .table td {
            padding: 12px;
            text-align: center;
            border-bottom: 1px solid #dee2e6; /* Gray border between rows */
        }

        .cart-actions {
            margin-top: 20px;
            text-align: right;
        }

        .checkout-btn {
            background-color: #28a745; /* Green color for the button */
            color: #ffffff; /* White text color */
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

.book-container img {
    width: 100%;
    height: 250px; /* Maintain aspect ratio */
    object-fit: fill;
    flex-grow: 1; /* Grow to fill available space */
    margin-bottom: 10px;
}

.book-container .book-info {
    flex-grow: 1; /* Grow to fill available space */
    display: flex;
    flex-direction: column;
}

.book-container .btn {
    width: 100%;
}

.book-title {
    text-color: white;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}



.sidebar {
    padding-top: 90px;
    background-color: #331300 /* light gray background */
    border-right: 1px solid #e0e0e0; /* light border */
    padding: 15px;
}

.sidebar h4 {
    font-size: 1.8em;
    padding-top: 40px;
    color: white;
     position: absolute;
     text-shadow: 1px 1px 2px black;
}

.books {
    padding-top: 90px;
    padding: 15px;
}


.tooltip-container {
    position: relative;
}




.tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.book-title:hover .tooltip {
    visibility: visible;
    opacity: 1;
}



.search-form {
padding-top: 40px;}

.list-group-item a {
    color: #555;
    text-decoration: none;
}

.list-group-item a:hover {
    text-decoration: underline;
}

.list-group {
    margin-bottom: 20px;
    padding-top: 100px;
}

.input-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 20px; /* rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

.btn-outline-secondary {
    border-radius: 20px;
}

.list-group-item:hover {
    background-color: #e0e0e0; /* light background on hover */
}


.bg-text {
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
     color: white;
     font-weight: bold;
     border: 3px solid #f1f1f1;
     z-index: 2;
     width: 80%;
     padding: 20px;
     text-align: center;
}

.brand-section {
     background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}

td, th {
     padding: 3px 8px;
}

.card.book, .book-details .list-group-item {
     background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}
.card-img-top-wrapper {
     height: 250px;
     overflow:auto;
}

.book-image {
    width:180px;
    height:270px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 6px;
}

form.main-form {
     background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));
     padding:10px 30px;
     border-radius: 20px;
}

.field-error {
     background: white url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="red" d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/></svg> ') no-repeat top right/30px 30px;
}

.logged-user {
     color: white;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #555;
    padding: 10px 20;
    margin-top: auto;

}
