<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"></head>

<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Подробна информация за книгата</h2>

    <div th:object="${book}" class="row mx-auto mt-3">
        <!-- Book Details Card -->
        <div class="col-md-3 offset-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" th:text="*{title}"></h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span>• Автор:</span>
                            <th:block th:text="*{author}"></th:block>
                        </li>
                        <li class="list-group-item">
                            <span>• Цена:</span>
                            <th:block th:text="*{price}"></th:block>
                        </li>
                        <li class="list-group-item">
                            <span>• Година:</span>
                            <th:block th:text="*{year}"></th:block>
                        </li>
                        <li class="list-group-item">
                            <span>• Категория:</span>
                            <th:block th:text="*{category.getDisplayName()}">Category</th:block>
                        </li>
                        <li class="list-group-item">
                            <span>• Състояние:</span>
                            <th:block th:text="*{bookCondition.getDisplayName()}">Condition</th:block>
                        </li>
                        <li class="list-group-item">
                            <span>• Допълнителна информация:</span>
                            <th:block th:text="*{additionalInfo}">add Info</th:block>
                        </li>
                        <li class="list-group-item">
                            <span>• Наличност:</span>
                            <th:block th:text="${book.isAvailable} ? 'В наличност' : 'Няма в наличност'">isAvailable</th:block>
                        </li>
                    </ul>
                </div>
                <div class="row justify-content-center mt-4">
                    <form sec:authorize="hasRole('ADMIN')" th:method="POST" th:action="@{/books/{bookUUID}(bookUUID=*{uuid})}">
                        <!-- Show "Деактивирай" button if book is available -->
                        <input th:if="${book.isAvailable}" type="submit" name="action" value="Деактивирай" class="link card-link"/>
                        <!-- Show "Активирай" button if book is not available -->
                        <input th:unless="${book.isAvailable}" type="submit" name="action" value="Активирай" class="link card-link"/>
                    </form>
                    <form sec:authorize="hasRole('ADMIN')" th:method="GET" th:action="@{/books/{bookUUID}/edit(bookUUID=*{uuid})}">
                        <input type="submit" value="Промени" class="link card-link"/>
                    </form>
                </div>
            </div>
        </div>

        <!-- Book Image Card -->
        <div class="col-md-3">
            <div class="card">
                <img th:src="*{imageUrl}" class="card-img-top" alt="no image">
            </div>
        </div>
    </div>

    <!-- Related Items Section -->
    <div class="row mt-5">
        <h3 class="text-center text-white mb-3">Other Books by the Same Author</h3>
        <!-- Add cards for related books here -->
        <!-- Example card: -->
        <div class="col-md-3">
            <div class="card">
                <!-- Card content for related book -->
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer.html}"></div>

</body>
</html>