<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{/fragments/head}">Head</th:block>

<body>
<div th:replace="~{fragments/navbar.html}">Navbar</div>


<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div class="sidebar col-md-2">
            <h4>Категории</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <a th:href="@{/books/all}" th:text="Всички"></a>
                </li>
                <li th:each="category : ${categories}" class="list-group-item">
                    <a th:href="@{/books/all(category=${category})}" th:text="${category.getDisplayName()}"></a>
                </li>
            </ul>

            <div class="row justify-content-center mb-4">
                <div class="col-md-12">
                    <form th:method="GET" th:action="@{/books/search}" th:object="${searchBookModel}">
                        <div class="input-group">
                            <input th:field="*{query}" class="form-control" type="search"
                                   placeholder="Заглавие/автор" aria-label="Search" id="query">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Търси</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- EO Sidebar -->

        <!-- Main Content -->
        <div class="col-md-10">

            <div class="books row mx-auto d-flex flex-row justify-content-center" style="border: 2px solid white;">
                <div
                        th:each="book: ${books}"
                        th:object="${book}"
                        class="col-sm-6 col-md-3  col-lg-2 m-1 p-5">
                    <a th:href="@{/books/{bookUUID}(bookUUID=*{uuid})}">
                        <img class="book-image" th:src="*{imageUrl}" alt="no-image.jpg">
                    </a>

                    <div class="text-white font-weight-bold">
                        <th:block th:text="*{title}">Заглавие</th:block>
                    </div>
                    <div class="text-white font-weight-light" style="font-size:12px;">
                        <th:block th:text="*{author}">Автор</th:block>
                    </div>
                    <div class="text-white font-weight-bold" style="font-size:15px;">
                        <th:block th:text="*{price} + лв">Цена</th:block>
                    </div>


                    <a href="#" class="btn btn-success">Купи</a>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer.html}">Footer</div>

</body>
</html>