<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"> </head>

<body>

<div> <nav th:replace="~{fragments/navbar}"></nav> </div>

<div class="container fluid">
    <h2 class="text-center text-white">Search for books</h2>
    <form
            th:method="GET"
            th:action="@{/books/search}"
            th:object="${searchBookModel}"
            class="form-inline"
            style="justify-content: center; margin-top: 50px;"
    >
        <div style="position: relative">
            <input
                    th:field="*{query}"
                    th:errorclass="is-invalid"
                    class="form-control mr-sm-2"
                    style="width: 280px;"
                    type="search"
                    placeholder="Search by title or author"
                    aria-label="Search"
                    id="query"
            />

            <small
                    id="searchBooksHelpInline"
                    class="bg-danger text-light rounded invalid-feedback"
                    style="width: 97%; position: absolute; padding: 3px 15px; text-align: center;"
            >
                Try writing something this time.
            </small>
        </div>
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>

    <div class="books row mx-auto" style="border: 2px solid white;">

        <div th:each="book: ${books}" class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
            <div class="card-img-top-wrapper">
                <img class="card-img-top" th:src="${book.imageUrl}" alt="Car image">
            </div>
            <div class="card-body pb-1">
                <h5 class="card-title" th:text="${book.summary}"></h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text"><span th:text="'Година: ' + ${book.year} + 'г.'"></span></div>
                    <div class="card-text"><span th:text="'Цена: ' + ${book.price} + 'лв.'"></span></div>
                    <div class="card-text"><span th:text="'Категория: ' + ${book.category}"></span></div>
                    <div class="card-text"><span th:text="'Състояние: ' + ${book.bookCondition}"></span></div>
                </li>
            </ul>
            <div class="card-body"
                 th:object="${book}">
                <a class="card-link" th:href="@{/books/{bookUUID}(bookUUID=*{uuid})}">Details</a>
            </div>
        </div>
        <h3 th:if="${books != null && books.size == 0}" class="text-info">There are no offers with this model yet</h3>
    </div>
</div>



<div th:replace="~{fragments/footer.html}">Footer</div>

</body>
</html>
