<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{/fragments/head}">Head</th:block>

<body>
<div th:replace="~{fragments/navbar.html}">Navbar</div>


<div class="container">
    <h2 class="text-center text-white">Add book</h2>
    <form th:method="POST"
          th:action="@{/books/add}"
          th:object="${addBookDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">

            <!-- title -->
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="titleId">Title</label>
                <input id="titleId"
                       th:field="*{title}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control"
                       placeholder="Book title"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Title is required.
                </p>
            </div>
            <!-- EO: title -->

            <!-- author -->
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="authorId">Author</label>
                <input id="authorId"
                       th:field="*{author}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control"
                       placeholder="Book author"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Author is required.
                </p>
            </div>
            <!-- EO: author -->
        </div>

        <div class="row">



            <!-- Price -->
            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input id="price"
                       th:field="*{price}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       placeholder="Suggested price"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Suggested price is required.
                </p>
            </div>
            <!-- EO: Price -->

            <!-- Year -->
            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold">Year</label>
                <input id="year"
                       th:errorclass="is-invalid"
                       th:field="*{year}"
                       type="number"
                       class="form-control"
                       placeholder="Publishing year"/>
                <p th:if="${#fields.hasErrors('year')}"
                   class="errors alert alert-danger"
                   th:errors="*{year}">

                    <!--                                <p class="invalid-feedback errors alert alert-danger">-->
                    <!--                                    Publishing year is required.-->
                    <!--                                </p>-->
                </p>
            </div>
            <!-- EO: Year -->
        </div>


        <div class="row">
            <!-- Category -->
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="category">Category</label>
                <select id="category"
                        th:field="*{category}"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select a category -</option>
                    <option th:each="c : ${categories}"
                            th:text="${c}"
                            th:value="${c}">
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Category is required.
                </p>
            </div>
            <!-- EO: Category -->

            <!-- Condition -->
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="bookCondition">Condition</label>
                <select
                        id="bookCondition"
                        th:field="*{bookCondition}"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select condition -</option>
                    <option th:each="c : ${T(com.nl.Nutso.model.enums.BookConditionEnum).values()}"
                            th:text="${c}"
                            th:value="${c}"
                            th:selected="${c} == *{bookCondition}">
                    </option>
                </select>
                <p class="invalid-feedback  errors alert alert-danger">
                    Condition is required.
                </p>
            </div>
            <!-- EO: Condition -->
        </div>

        <!-- Description -->
        <div class="form-group">
            <label class="text-white font-weight-bold" for="additionalInfo">Additional Information</label>
            <textarea id="additionalInfo"
                      th:field="*{additionalInfo}"
                      th:errorclass="is-invalid"
                      type="textarea"
                      class="form-control"
                      rows="3"
                      placeholder="Description">
            </textarea>
            <p class="invalid-feedback errors alert alert-danger">
                Description is required.
            </p>
        </div>
        <!-- EO: Description -->

        <!-- Image URL -->
        <div class="form-group">
            <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
            <input id="imageUrl"
                   th:field="*{imageUrl}"
                   th:errorclass="is-invalid"
                   type="url" class="form-control"
                   placeholder="Put vehicle image URL here">
            <p class="invalid-feedback errors alert alert-danger">
                Vehicle image URL is required.
            </p>
        </div>
        <!-- EO: Image URL -->

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-secondary" value="Add Book"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:replace="~{fragments/footer.html}">Footer</div>

</body>
</html>