<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{/fragments/head}">Head</th:block>

<body>
<div th:replace="~{fragments/navbar.html}">Navbar</div>

<div class="container-fluid">
    <h5 class="text-center text-white mt-5">Welcome to Nutso bookstore,
        <th:block sec:authorize="isAuthenticated()">
            <div class="text-white" >Welcome, <th:block sec:authentication="name">X</th:block>!</div>
        </th:block>
        <th:block sec:authorize="!isAuthenticated()">
            Anonymous!
        </th:block>
    </h5>
</div>

<div th:replace="~{fragments/footer.html}">Footer</div>

</body>
</html>
